html,
head,
body {
  background-image: url("../images/bgImg.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  height: 100%;
}
.restart {
  display: none;
  margin-left: 850px;
  margin-top: 150px;
  color: white;
  font-size: 25px;
  border: solid;
  border-width: 2px;
  width: 220px;
  height: 75px;
}
.restart:hover {
  background: white;
  color: rgb(10, 20, 71);
  border: none;
}
h1 {
  font-size: 50px;
  text-align: center;
  color: white;
  padding: 40px;
}

h3 {
  font-size: 30px;
  color: white;
}
.character {
  float: left;
  margin: 2px;
  height: 200px;
  width: 200px;
  background-color: transparent;
}
.characterName,
.characterHealth {
  color: white;
  text-align: center;
}
.characterName {
  font-size: 20px;
}
.characterImg {
  height: 100%;
  width: 100%;
}
.characterImg:hover {
  cursor: pointer;
}
.characterHealth {
  margin-bottom: 10px;
  font: 15px;
}
.yourPlayer,
.yourEnemy {
  margin-top: 120px;
}
#yourCharacter,
.selectedEnemy {
  margin: 2px;
  height: 250px;
  width: 250px;
  background-color: transparent;
}
.selectedEnemy .character {
  margin-right: -160px;
}
.attack {
  margin-top: 300px;
  margin-right: 190px;
  height: 70px;
}
