*,
*::before,
*::after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
col- {
  width: 100%;
}
html,
head,
body {
  width: 100%;
  margin: 0;
  padding: 0;
  background-image: url("../images/bgImg.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  height: 100%;
}

.restart {
  margin-left: 115px;
  margin-top: 150px;
  color: white;
  font-size: 15px;
  border: solid;
  border-width: 2px;
  width: 220px;
  height: 75px;
}

.restart:hover {
  background: white;
  color: rgb(10, 20, 71);
  border: none;
}
.restart {
  display: none;
}
h1 {
  font-size: 30px;
  text-align: center;
  color: white;
  padding: 40px;
}
h3 {
  font-size: 20px;
  color: white;
}
.character {
  /* float: left; */
  margin: 2px;
  height: 100px;
  width: 100px;
  background-color: transparent;
}
.characterName,
.characterHealth {
  color: white;
  text-align: center;
}
.characterName {
  font-size: 15px;
}
.characterImg {
  height: 50px;
  width: 50px;
}
.characterImg:hover {
  cursor: pointer;
}
.characterHealth {
  margin-bottom: 10px;
  font: 15px;
}
.yourPlayer,
.yourEnemy {
  margin-top: 120px;
}
#yourCharacter,
.selectedEnemy {
  margin: 2px;
  height: 150px;
  width: 150px;
  background-color: transparent;
}
.selectedEnemy .character {
  margin-right: -160px;
}
.attack {
  margin-top: 300px;
  margin-right: 190px;
  height: 30px;
}

@media (min-width: 700px) {
  .restart {
    margin-left: 400px;
    margin-top: 150px;
    font-size: 20px;
    width: 175px;
    height: 65px;
  }
  .character {
    float: left;
    height: 150px;
    width: 150px;
  }
  .characterName {
    font-size: 20px;
  }
  .characterImg {
    height: 130px;
    width: 130px;
  }

  .characterHealth {
    margin-bottom: 10px;
    font: 20px;
  }

  #yourCharacter,
  .selectedEnemy {
    height: 200px;
    width: 200px;
  }
}

@media (min-width: 950px) {
  .col-1 {
    width: 8.33%;
  }
  .col-2 {
    width: 16.66%;
  }
  .col-3 {
    width: 25%;
  }
  .col-4 {
    width: 33.33%;
  }
  .col-5 {
    width: 41.66%;
  }
  .col-6 {
    width: 50%;
  }
  .col-7 {
    width: 58.33%;
  }
  .col-8 {
    width: 66.66%;
  }
  .col-9 {
    width: 75%;
  }
  .col-10 {
    width: 83.33%;
  }
  .col-11 {
    width: 91.66%;
  }
  .col-12 {
    width: 100%;
  }
  .restart {
    margin-left: 850px;
    margin-top: 150px;
    font-size: 25px;
    width: 220px;
    height: 75px;
  }
  h1 {
    font-size: 50px;
    padding: 40px;
  }
  h3 {
    font-size: 30px;
  }
  .character {
    float: left;
    margin: 2px;
    height: 200px;
    width: 200px;
  }
  .characterName {
    font-size: 20px;
  }
  .characterImg {
    height: 180px;
    width: 180px;
  }
  .characterHealth {
    margin-bottom: 10px;
    font: 20px;
  }
  .yourPlayer,
  .yourEnemy {
    margin-top: 120px;
  }
  #yourCharacter,
  .selectedEnemy {
    height: 250px;
    width: 250px;
  }
  .selectedEnemy .character {
    margin-right: -160px;
  }
  .attack {
    margin-top: 300px;
    margin-right: 190px;
    height: 70px;
  }
}
